@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>FIAP Sneakers</h2>

    <p>Entrega do Checkpoint 2</p>
    <a asp-action="Index" asp-controller="Tenis">Tenis</a>
    <a asp-action="Cadastrar" asp-controller="Tenis">Cadastro de Tenis</a>
</div>
